<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    {% include 'header-no-bg.njk' %}
    <section class="small-intro">
      <h1>{{ headline }}</h1>
    </section>
    <main>
      {{ content | safe }}    
    </main>
    {% include 'footer.njk' %}
    <script src="js/observers.js"></script>
    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
    </script>
</body>
</html>