<header class="page-header">
  <a href="/" class="site-logo" aria-label="homepage">HVCM</a>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul role="list" class="nav__list">
      <li>
        <a class="nav__link" href="/">Home</a>
      </li>
      <li>
        <a class="nav__link" href="/ve-truc-sinh/">Về Trúc & Sinh</a>
      </li>
      <li>
        <a class="nav__link" href="/dong-hanh-suc-khoe/">Đồng Hành Sức Khỏe</a>
      </li>
      <li>
        <a class="nav__link" href="/testimonial/">Lời yêu thương</a>
      </li>
      <li>
        <a class="nav__link" href="/blog/">Blog</a>
      </li>
      <li>
        <a class="nav__link" href="/mon-ngon/">Món ngon Nhà Cá Voi</a>
      </li>
      <li>
        <a class="nav__link" href="/contact/">Kết Nối</a>
      </li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>