<li class="carousel__slide">
    <div class="carousel__date"><span class="soft-text">{{ post.data.date | postDate }}</span></div>
    <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="carousel__image">
</li>
