---
title: Hiểu Về Chính Mình
layout: 'base.njk'
banner:
---

<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Aloha</h1>
        <p>Hiểu về chính mình là một hành trình mà mỗi người sẽ đi trong suốt cuộc sống của mình.</p>
        <p>Nơi đây là một điểm bắt đầu để chúng mình gặp nhau và chia sẻ về hành trình của mỗi người trong chúng ta.</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="./blog" class="btn btn--neutral">Most recent articles</a>
        </div>
      </div>
      <div>
        <img src="//unsplash.it/510" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    <ul role="list" class="articles__list flow"><li>
      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor %}

    </ul>
  </div>
</section> 
