---
title: Lắng nghe cơ thể
headline: Nhìn thấy, Hiểu và Yêu Thương Chính Mình
layout: 'base-small.njk'
---

<section class="hero">
  <main class="about-grid">
    <article class="about-content flow bg-blue quote text-neutral-100">
      <div class = "flex">
        Sinh
      </div>
      <p>
        Tò mò về bệnh tật và những nỗi đau mà mình đã trải qua, Sinh học về các ngôn ngữ của cơ thể để có thể hiểu được đằng sau những gì mình phải chịu đựng là gì?
      </p>
      <p>
        Chỉ đơn giản là sự hiện diện, quan sát, lắng nghe, và cảm nhận cơ thể, mỗi phút giây ở hiện tại là một cơ hội để chúng ta có thể hiểu được điều cơ thể muốn nói. Để từ đó chúng ta có thể sống mỗi giây phút một cách trọn vẹn
      </p>
    </article>
    <article class="about-content flow bg-purple quote text-neutral-100">
      <div class = "flex">
        Mẹ Trúc
      </div>
      <p>
        Là một người con cũng là một người mẹ với bao nhiêu trăn trở về những khổ đau và bệnh tật mà những người thân trong gia đình đã trải qua.
      </p>
      <p>
        Trúc bước chân lên con đường "Health coach" để tìm kiếm một sự thấu hiểu về cơ thể, về dinh dưỡng, về lối sống để không bao giờ để bé con phải chịu đựng những nỗi đau ấy vì sự thiếu hiểu biết về cơ thể của chính mình.
      </p>
    </article>
    <article class="about-content flow grid-col-span-2 bg-primary-400 quote text-neutral-100">
      <p>
        Lắng nghe cơ thể là không gian để bạn cho mình một được chia sẻ, được lắng nghe và thấu hiểu cơ thể mình.
      </p>
      <p>
        Đây là không gian mà Trúc hoặc Sinh, hoặc cả hai sẽ cùng lắng nghe...
      </p>
      <ul>
        <li>Lắng nghe thắc mắc hoặc băn khoăn về sức khỏe</li>
        <li>Lắng nghe những bối rối về dinh dưỡng, ăn uống</li>
        <li>Lắng nghe những bối rối về những nỗi đau, những tổn thương, bệnh tật</li>
        <li>Lắng nghe những phân vân về chăm sóc và nuôi con</li>
      </ul>
      <p>Với cách tiếp cận đơn giản, tôn trọng và lắng nghe cơ thể, chúng mình tin rằng bạn qua những giây phút được lắng nghe trọn vẹn bạn sẽ tự tin hơn vào chính mình, hiểu rõ hơn điều mình cần làm tiếp theo là gì</p>
    </article>
  </main>
</section>

<section id="lang-nghe-co-the" class="booking-form light-blue-bg">
  <!-- Calendly inline widget begin -->
  <div class="calendly-inline-widget" data-url="https://calendly.com/sinh_x/lang-nghe-co-the" style="min-width:320px;height:630px;"></div>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
  <!-- Calendly inline widget end -->
</section> 